@import './theme'

// Nunito, Cabin Font & Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,600;0,700;1,800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

// Variable Changes
$family-sans-serif: 'Nunito', 'Noto Sans', 'Cabin', Arial, Helvetica, sans-serif //"Cabin", "Noto Sans", Helvetica, Arial, sans-serif

@import 'bulma-navarrotech/brands'
@import 'bulma-navarrotech/bulma'
@import 'bulma-divider'

html
    background: #fbfbfa

.button.is-primary
    @include primaryGradient

    &:hover
        @include primaryGradientLight

input
    font-family: 'Noto Sans', 'Cabin', Arial, Helvetica, sans-serif !important

.button.is-google
    $googleButtonHeight: 2.75em
    height: $googleButtonHeight !important
    color: #ffffff
    background: $google
    position: relative
    font-weight: bold
    font-family: 'Noto Sans', 'Cabin', Arial, Helvetica, sans-serif !important
    padding-left: calc($googleButtonHeight + 4px)

    .icon
        position: absolute
        width: calc($googleButtonHeight - 6px)
        height: calc($googleButtonHeight - 6px)
        background: white
        border-radius: 2px
        left: 2px
        top: 2px
        margin-left: 0 !important
        margin-right: 0 !important

.nametag
    figure.is-64x64
        min-width: 64px
        max-width: 64px
        max-height: 64px
        max-height: 64px
