@use './src/theme' as *

.CharacterList
    display: flex
    flex-flow: row wrap
    gap: 1em
        
    .Character
        width: 300px
        height: 150px
        @include shadow(10)
        border-radius: 4px
        cursor: pointer
        transition: transform 300ms ease, background 300ms ease

        display: flex
        align-items: center
        justify-content: center

        &:hover
            background: $primary
            transform: scale(1.05)

            .titles *
                color: white

        .image
            height: 0
            // width: 100%
            // height: calc(100% - 36px - 1.5em)
            // background-size: cover
            // background-position: 50% 0%
            // border-radius: 4px 4px 0 0

        .titles
            padding: 0.75em

            *
                transition: color 200ms ease