@use './src/theme' as *

.CharacterList
    display: flex
    flex-flow: row wrap
    justify-content: center
    gap: 1em
        
    .Character
        width: 500px
        height: 150px
        @include shadow(10)
        border-radius: 4px
        cursor: pointer
        transition: transform 300ms ease, background 300ms ease
        padding: 0
        display: flex
        align-items: center
        justify-content: flex-start

        &.isSelected,
        &:hover
            background: $primary !important
            transform: scale(1.05)

            .titles *
                color: white

        .image
            height: 150px
            width: 150px
            max-height: 150px

            overflow: hidden
            border-radius: 4px 0 0 4px

        .titles
            padding: 0.5em 1em
            width: calc(100% - 150px)

            *
                transition: color 200ms ease

    &.onDark .Character
        background: $gray

        .titles *
            color: white

.skillDisplay
    display: inline-block
    width: calc(50% - 10px)
    text-transform: capitalize

.BigStat
    :global(.input)
        border: none
        box-shadow: none
        outline: none

        &:global(.is-large)
            font-size: 2rem


$avatarSize: 100px

.ChooseAvatar

    :global(.modal-card)
        width: 80vw

    .ChooseAvatarImages
        display: flex
        gap: 0.75em
        flex-flow: row wrap

        :global(.image)
            cursor: pointer
            width: $avatarSize
            height: $avatarSize
            max-width: $avatarSize
            max-height: $avatarSize
            border: 2px solid transparent
            transition: transform 300ms ease
            border-radius: 6px
            overflow: hidden

            &.is-selected
                border-color: $primary

            &.is-selected,
            &:hover
                transform: scale(1.2)

@media screen and (max-width: 768px)
    .ChooseAvatar

        :global(.modal-card)
            width: 100vw

        .ChooseAvatarImages
            gap: 0.5em

            :global(.image)
                width: calc(25% - 0.5em)
                height: calc(25% - 0.5em)
                max-width: calc(25% - 0.5em)
                max-height: calc(25% - 0.5em)