@import './theme'

// Nunito, Cabin Font & Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Nunito:ital,wght@0,200;0,400;0,500;0,700;0,800;1,200;1,400;1,500;1,700;1,800&display=swap')

// Bulma.io Variable Changes
$family-sans-serif: 'Nunito', 'Noto Sans', 'Cabin', Arial, Helvetica, sans-serif //"Cabin", "Noto Sans", Helvetica, Arial, sans-serif

$modal-card-head-background-color: #ffffff
$modal-card-foot-background-color: #ffffff
$modal-card-head-border-bottom: none
$modal-card-foot-border-top: none

@import 'bulma-navarrotech/brands'
@import 'bulma-navarrotech/bulma'
@import 'bulma-divider/src/sass/index.sass'
@import 'bulma-tooltip'
@import './styles/bulma-slider.sass'

html
    background: #fbfbfa

.button
    
    &.is-primary:not(.is-outlined)
        @include primaryGradient

        &:hover
            @include primaryGradientLight
    &.is-primary-hover.is-white
        color: black
        background-color: white
        border-color: white

        &:hover
            background-color: $primary
            border-color: $primary
            color: white !important

input
    font-family: 'Noto Sans', 'Cabin', Arial, Helvetica, sans-serif !important

.no-image
    background: #1B4296
    display: flex
    justify-content: center
    align-items: center

    &.is-rounded
        border-radius: 50%

    span
        color: white
        font-size: 1.35rem
        font-weight: 600
        user-select: none
        pointer-events: none

.box
    position: relative

    .box-label
        position: absolute
        top: -0.5em
        left: 0.75em
        margin-bottom: 0
        background: white
        font-weight: 300
        padding: 0 0.15em

        &.is-centered
            margin-left: auto
            margin-right: auto
            right: 0
            left: 0
            width: fit-content

.label.input-label
    font-weight: 300
    background: white
    margin-bottom: -0.75em
    margin-left: 1.5em
    z-index: 2
    width: fit-content
    padding: 0 0.15em
    position: relative

    &+.control
        z-index: 1

        &.has-icons-left
            .icon.is-left
                height: 2.75em

        .input
            height: 2.75em
            font-weight: 700

.button.is-google
    $googleButtonHeight: 2.75em
    height: $googleButtonHeight !important
    color: #ffffff
    background: $google
    position: relative
    font-weight: bold
    font-family: 'Noto Sans', 'Cabin', Arial, Helvetica, sans-serif !important
    padding-left: calc($googleButtonHeight + 4px)

    .icon
        position: absolute
        width: calc($googleButtonHeight - 6px)
        height: calc($googleButtonHeight - 6px)
        background: white
        border-radius: 2px
        left: 2px
        top: 2px
        margin-left: 0 !important
        margin-right: 0 !important

.nametag
    figure.is-64x64
        min-width: 64px
        max-width: 64px
        max-height: 64px
        max-height: 64px

.choice
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    overflow: hidden
    position: fixed
    z-index: 39
    bottom: 0
    left: 0
    right: 0
    top: 0
    
    .choice-background
        background: rgba(0,0,0,0.70)
        // backdrop-filter: blur(10px)
        position: absolute
        bottom: 0
        left: 0
        right: 0
        top: 0
    
    .choice-content
        width: 100%

        .choice-title,
        .choice-title *
            color: white
            text-align: center
            position: relative

            h1:not(.title),
            .title
                font-size: 2.75rem
            h2:not(.subtitle),
            .subtitle
                font-size: 2rem


        .choice-title:not(:last-child)
            margin-bottom: 1em
        
        .choice-body:not(:last-child)
            margin-bottom: 2em


// I should add this to navarrotech/bulma
.flexlist
    display: flex
    flex-flow: row wrap
    align-items: flex-start
    gap: 1em

    &.has-3-per-row:not(.is-compact) > .item
        width: calc(33% - 1em)
    &.has-4-per-row:not(.is-compact) > .item
        width: calc(25% - 1em)
    &.has-5-per-row:not(.is-compact)> .item
        width: calc(20% - 1em)
    &.has-6-per-row:not(.is-compact) > .item
        width: calc(16.66% - 1em)
        
    &.is-centered
        justify-content: center

    // &.has-min-widths > .item
    //     min-width:  2em
    //     min-height: 2em

    &.is-compact
        gap: 0.5em

        &.has-3-per-row > .item
            width: calc(33% - 0.5em)
        &.has-4-per-row > .item
            width: calc(25% - 0.5em)
        &.has-5-per-row > .item
            width: calc(20% - 0.5em)
        &.has-6-per-row > .item
            width: calc(16.66% - 0.5em)

    .item
        min-height: 2.5em
        &.is-rounded
            border-radius: 6px

// I should add this to navarrotech/bulma
.toast
    position: fixed
    width: 450px
    height: fit-content
    z-index: 38
    left: 0
    right: 0
    margin: auto

    > .notification
        padding: 0.75rem 1.5rem

    &.is-top
        top: 120px

    &:not(.is-top)
        bottom: 120px
    
    &.is-left
        left: 120px
        right: unset

    &.is-right
        left: unset
        right: 120px

.progressbar
    display: block
    width: 100%
    height: 1.75em
    border-radius: 30px
    background: black
    overflow: hidden

    &.is-primary
        .bar
            background: $primary

    .bar
        height: 1.75em
        display: block
        transition: width 300ms ease

    &:not(:last-child)
        margin-bottom: 1.5em

.svg-white,
.svg-white *
    fill: white

